{% extends "base.html" %}
{% block content %}
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Search Movie</label>
        <input type="text" class="form-control" name="searchItem">
    </div>
    <button type="submit" class="btn btn-primary">Search Item</button>
</form>
<div>
    You searched for: {{searchItem}}
</div>
<div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for movie in movies %}
        <div class="col">
            <div class="card h-100">
                <a href="{% url 'details' movie.id %}">
                    <img src="{{movie.image.url}}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a class="text-reset text-decoration-none" href="{% url 'details' movie.id %}">
                        <h5 class="card-title">{{movie.title}}</h5>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}